.article {
  width: 100%;
  height: 50px;
  font-size: @default-text-size;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex: 1;
  .title {
    display: flex;
    align-items: center;
    height: 45px;
    font-size: @big-text-size;
  }
  .content {
    display: flex;
    align-items: center;
    height: 45px;
    .classify {
      color: #a9a9b3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      font-size: @default-text-size;
      height: 70%;
      border-radius: 12px;
      opacity: 0.9;
    }
    .tag {
      color: #a9a9b3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      font-size: @default-text-size;
      height: 70%;
      border-radius: 12px;
      opacity: 0.9;
    }
    .time {
      color: #a9a9b3;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      font-size: @default-text-size;
      height: 70%;
      border-radius: 12px;
      opacity: 0.9;
    }
    .icon {
      padding-right: 3px;
      display: flex;
      align-items: center;
    }
  }
  &:hover {
    cursor: pointer;
    color: @primary-color;
    .classify,
    .tag,
    .time {
      color: @primary-color;
    }
  }
}

@media (min-width: 0) and (max-width: 768px) {
  .article {
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    .title {
      width: 100%;
      height: auto;
      display: flex;
      line-height: 2;
      font-size: @default-text-size;
    }
    .content {
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      display: flex;
      .classify {
        font-size: @small-text-size;
        height: 25px;
        margin-bottom: 10px;
      }
      .tag {
        font-size: @small-text-size;
        height: 25px;
        margin-bottom: 10px;
      }
      .time {
        font-size: @small-text-size;
        height: 25px;
        margin-bottom: 10px;
      }
    }
  }
}
