.article {
  width: 100%;
  height: 35px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  div{
    &:nth-child(1){
      width: calc(100% - 100px);
    }
    &:nth-child(2){
      width: 100px;
    }
  }
  &:hover{
    cursor: pointer;
    color: #40b27e;
  }
}
