.layout {
  width: 100%;
  height: 100%;
  .midder {
    padding-top: 50px;
    min-height: 50vh;
  }
  .footer {
    text-align: center;
    line-height: 2.5;
    .jumpMiit {
      color: @primary-color;
    }
  }
}

@media (min-width: 768px) {
  .header {
    width: 100%;
    height: 50px;
    padding: 5px 30px;
    border-bottom: @default-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    .phoneLeft {
      display: none;
    }
    .title {
      cursor: pointer;
      font-size: @big-text-size;
      font-weight: 600;
      display: flex;
      align-items: center;
      img {
        width: 30px;
      }
      div {
        padding-left: 5px;
      }
    }
    .phoneRight {
      display: none;
    }
    .menu {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      .active {
        color: @primary-color;
      }
      .navTop {
        display: flex;
        .nav {
          position: relative;
          margin-right: 30px;
          padding: 8px 0;
          cursor: pointer;
          span {
            display: inline-block;
            padding-right: 5px;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 0) and (max-width: 768px) {
  .header {
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    border-bottom: @default-border;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #fff;
    font-size: @big-text-size;
    z-index: 1000;
    .phoneLeft {
      cursor: pointer;
    }
    .title {
      cursor: pointer;
      font-weight: 600;
      display: flex;
      align-items: center;
      img {
        width: 30px;
      }
      div {
        padding-left: 5px;
      }
    }
    .phoneRight {
      cursor: pointer;
    }
    .menu {
      width: 260px;
      height: calc(100vh - 50px);
      background-color: #fff;
      border-right: @default-border;
      position: absolute;
      top: 50px;
      left: 0;
      display: flex;
      flex-direction: column;
      padding: 10px 20px;
      font-size: @default-text-size;
      z-index: 1000;
      .active {
        color: @primary-color;
      }
      .navTop {
        border-bottom: @default-border;
        .nav {
          padding: 10px 0;
          cursor: pointer;
          span {
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
      .navBottom {
        padding-top: 10px;
        :global {
          .ant-tree {
            font-size: @default-text-size;
            overflow-x: hidden;
          }
          .ant-tree .ant-tree-treenode {
            padding: 2px 2px 6px;
          }
          .ant-tree-title {
            padding-left: 2px;
            display: inline-block;
            overflow: hidden;
          }
          .ant-tree-switcher.ant-tree-switcher_close,
          .ant-tree-switcher.ant-tree-switcher_open,
          .ant-tree-switcher.ant-tree-switcher-noop {
            display: none;
          }
          .ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before,
          .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before {
            background-color: @primary-color;
          }
          .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal {
            display: flex;
          }
        }
      }
    }
  }
}
