<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  <title>拾柒的博客</title>
</head>

<body>
  <div id="root"></div>
  <script src="./resources/js/jquery.min.js"></script>
  <script>
    (function () {
      $("html").attr("style", "font-size: 16px");
      if (window.location.pathname == '/'){
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = "./resources/js/yinhua.js";
        head.appendChild(script);
      }
    })()
  </script>
</body>

</html>