@import '../../style/page.less';

.main {
  display: flex;
  width: 100%;
  padding: 10px 10px 0 10px;
  .left {
    width: 300px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    position: fixed;
    border-right: 1px solid #f1f1f1;
    padding: 20px;
    :global {
      .ant-tree{
        font-size: 16px;
        overflow-x: hidden;
      }
      .ant-tree .ant-tree-treenode{
        padding: 2px 2px 6px 2px;
      }
      .ant-tree-title{
        padding-left: 2px;
        display: inline-block;
        width: 45%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ant-tree-switcher.ant-tree-switcher_close,
      .ant-tree-switcher.ant-tree-switcher_open,
      .ant-tree-switcher.ant-tree-switcher-noop {
        display: none;
      }
      .ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before, .ant-tree.ant-tree-directory .ant-tree-treenode-selected::before{
        background-color: @primary-color;
      }
      .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal{
        display: flex;
      }
    }
  }
  .right {
    width: calc(100vw - 320px);
    margin-left: 300px;
    .div {
      height: 1000px;
    }
  }
}
