.main{
  display: flex;
  width: 100vw;
  background-color: bisque;
  padding: 10px;
  position: relative;
  .left{
    width: 300px;
    height: 100vh;
    background-color: aqua;
    position: fixed;
    bottom: 305px;
  }
  .right{
    width: calc(100vw - 320px);
    background-color: antiquewhite;
    .div{
      height: 1000px;
    }
  }
}